/* 
    - :not 의사클래스
    - :target 의사클래스
    - nesting 문법
    - 변수
*/

/* 전역 변수로 변수 등록 */
:root {
    --primary-color: #6d1371;
    --main-color: #982286;
    --sub-color: #cd8ec0;

    --chapter-active-color: #a84296;
    --chapter-base-color: #e1bbd9;

    --font-color: #555;
}

body {
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    color: var(--font-color);
}

div.container {
    /* 가로 크기 지정 코드: 1400px */
    width: 1400px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    margin: 1rem 0;

    /* 이미지, 학번 이름 엘리먼트 */
    >div {
        display: flex;
        flex-direction: row;
        gap: 8px;
        /* 요소 (세로 기준) 가운데 정렬 */
        align-items: center;

        >span {
            font-size: 1rem;
            font-weight: bold;
        }

        >img {
            height: 32px;
            border: none;
        }
    }

    >.menu {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 4px;

        background-color: var(--sub-color);
        color: white;

        z-index: 1;

        align-items: center;

        /* URL fragment에 따른 배경 색 적용 */
        .active {
            background-color: var(--main-color);
        }

        >div:hover>.subs {
            max-height: 100vh;
            color: black;
        }

        >div:nth-child(1)>.menu_content {
            background-color: var(--main-color);
        }

        >div {

            >.menu_content {
                display: flex;
                flex-direction: column;

                padding: 8px 16px;
                border-bottom: 1px solid transparent;
            }

            >.menu_content:hover {
                border-color: var(--primary-color);
                transition: all 0.3s ease-in-out;
            }

            >.subs {
                display: flex;
                flex-direction: column;
                overflow: hidden;
                max-height: 0;
                transition: all 0.3s ease-in;

                background-color: white;
                opacity: 0.85;

                /* 매뉴 내부 요소 */
                >span {
                    padding: 8px 16px;
                }
            }

            >.subs:hover {
                max-height: inherit;
            }
        }


    }
}

.main {
    display: flex;
    flex-direction: column;

    gap: 4px;

    >.banner {
        display: grid;
        grid-template-columns: 9fr 3fr;
        /* 이미지 배너들을 가운데로 정렬하는 코드 */
        justify-content: center;

        >div:nth-child(1) {
            overflow: hidden;

            /* 이미지 리스트가 담긴 슬라이드 */
            >div {
                display: flex;
                flex-direction: row;
                transition: all 1s linear;

            }
        }

        >div:nth-child(2) {
            display: flex;
            flex-direction: column;

            >img {
                height: 240px;
            }
        }
    }

    >article {
        display: grid;
        grid-template-columns: 2fr 10fr;
        padding: 4px;

        gap: 8px;

        /* 자주 방문하는 페이지 메뉴 */
        >.shortcut {
            display: flex;
            flex-direction: column;

            >.title {
                padding: 8px 16px;
                color: black;
            }

            >.menu {
                >.menu_content.active {
                    background-color: var(--main-color);
                    color: white;
                }

                >.menu_content {
                    padding: 8px 16px;

                    background-color: var(--sub-color);
                    color: white;

                    >.subs {
                        display: flex;
                        flex-direction: column;
                        overflow: hidden;
                        max-height: 0;
                    }
                }
            }
        }

        /* 일정, 베스트 사진, 추천 영화/만화/책 */
        >nav {
            display: flex;
            flex-direction: column;
            gap: 4px;

            >.chapters {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;

                >div {
                    background-color: var(--chapter-base-color);
                    color: white;

                    padding: 8px 0;
                }

                >div.active {
                    background-color: var(--chapter-active-color);
                    color: white;
                }
            }

            >.articles {

                /* 6월 일정 */
                >article:nth-child(1) {
                    text-align: left;

                    /* un-ordered list의 기본 margin 제거 */
                    >ul {
                        margin-top: 0;
                        margin-bottom: 0;
                    }

                    .date-highlight {
                        color: var(--main-color);
                    }
                }

                /* Best Photo 5 */
                >article:nth-child(2) {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;

                    >.photo-card {
                        display: flex;
                        flex-direction: column;
                        gap: 4px;

                        >img {
                            width: 128px;
                            aspect-ratio: 1/1;
                        }
                    }
                }

                /* 네비게이션 코드 */
                >article:not(.active) {
                    display: none;
                }
            }

            /* "친구들" 목록 */
            >.friends {
                display: flex;
                flex-direction: column;
                gap: 16px;

                >.title {
                    font-size: 1.5rem;
                }

                >.friend-list {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
                    gap: 48px;

                    >.friend-profile {
                        display: flex;
                        flex-direction: column;
                        gap: 8px;

                        >.friend-card {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            gap: 6px;

                            padding: 16px 32px;
                            border: 2px solid grey;
                            border-radius: 16px;
                            box-shadow: 0 4px 1rem grey;

                            >img {
                                aspect-ratio: 1/1;
                                width: 64px;
                            }

                            >.name {
                                font-weight: bold;
                                font-size: 0.75rem;
                            }

                            >.desc {
                                opacity: 0.7;
                                font-size: 0.75rem;
                            }
                        }

                        >.desc {
                            opacity: 0.7;
                            font-size: 0.75rem;
                        }
                    }
                }
            }
        }

    }
}

#sub1 {
    display: grid;
    grid-template-columns: 2fr 8fr;
    gap: 16px;
    text-align: left;

    padding: 8px 0;

    >div {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    >div:nth-child(1) {
        font-size: 0.75rem;

        >img {
            width: 100%;
        }
    }

    >div:nth-child(2) {
        >img {
            width: 100%;
        }
    }
}

#sub2 {
    display: grid;
    grid-template-columns: 2fr 8fr;
    gap: 16px;
    text-align: left;

    padding: 8px 0;


    >div:nth-child(1) {
        display: flex;
        flex-direction: column;
        gap: 8px;

        font-size: 0.75rem;

        >img {
            width: 100%;
        }
    }

    >div:nth-child(2) {
        display: flex;
        flex-direction: column;
        gap: 8px;

        >section {
            display: grid;
            grid-template-columns: 1fr 4fr;
            gap: 16px;

            >img {
                width: 100%;
            }

            .title {
                font-size: 1.125rem;
                font-weight: bold;
            }
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;

    /* 네비게이션 간의 간격 */
    --content-gap: 28px;

    >.contents {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: var(--content-gap);

        background-color: #666;
        color: #ccc;
        padding: 4px;

        :after {
            content: "|";
            padding-left: var(--content-gap);
        }
    }

    >.banner {
        display: flex;
        flex-direction: row;
        justify-content: center;

        background-color: black;
        color: white;

        >div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            place-items: center;

            width: 1400px;

            >img {
                height: 48px;
            }

            /* SNS 로고 이미지 */
            >div {
                display: flex;
                flex-direction: row;
                gap: 8px;

                >img {
                    aspect-ratio: 1/1;
                    width: 32px;
                    border-radius: 100%;
                }
            }
        }
    }
}

.modal-bg-frame {
    position: fixed;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: black;
    filter: blur(4px) opacity(0.7);
    z-index: 10;
}

.image-modal-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 15;

    /* position으로 인해 'viewport 전체'가 된 엘리먼트 상에서 모달창을 가운데 정렬하기 위한 flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;

    >.image-modal {
        background-color: white;
        padding: 8px 16px;

        display: flex;
        flex-direction: column;
        gap: 8px;

        >article {
            display: flex;
            flex-direction: row;

            >img {
                width: 128px;
                aspect-ratio: 1/1;
            }

            >div {
                display: flex;
                flex-direction: column;

                >.desc {
                    flex-grow: 1;
                }

                >.button-frame {
                    display: flex;
                    flex-direction: column;
                    align-items: end;
                }
            }
        }
    }

}